<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<title>PC</title>
		<!--公用css-->
		<link rel="stylesheet" type="text/css" href="../pc/css/public.css" />
		<!--当前页面css-->
		
		<link rel="stylesheet" type="text/css" href="../pc/css/index.css" />
		<!--rem.js-->
		<script src="../pc/js/rem.js"></script>
		
		<!-- 判断移动端 -->
		<script>
			var userAgentInfo = navigator.userAgent;
			var Agents = new Array("Android", "iPhone", "SymbianOS", "Windows Phone", "iPad", "iPod");   
			var flag = 0; 
			var v=0 
			for ( v = 0; v < Agents.length; v++)  
			{   
			    if (userAgentInfo.indexOf(Agents[v]) > 0) { 
					if(Agents[v]=="iPad"){
			        	flag = 1;
			        }else{
			        	flag = 2;
			        }
			        break;
			    }
			}
			if(flag==2){
				location.replace("../m/index.html");
			}
		</script>
	</head>
	<body>
		<!--主体-->
		<!-- v-cloak -->
		<div id="app" v-cloak>
			<div class="link">
				<img src="images/img_01.jpg" />
				<span class="pos detail1"></span>
				<span class="pos book1" @click ="bookFn('L0')"></span>
			</div>
			<div class="link">
				<img src="images/img_02.jpg" />
				<span class="pos detail2"></span>
				<span class="pos book2"  @click ="bookFn('0L')"></span>
			</div>
			<div class="link">
				<img src="images/img_03.jpg" />
				<span class="pos detail3"></span>
				<span class="pos book3"  @click ="bookFn('0M')"></span>
			</div>
			<img src="images/img_04.jpg" />
			<!-- 弹窗 -->
			<div class="popBox" v-show ="isShow">
				<div class="pb">
					<span class="carimg"></span>
					<span class="closex" @click ="closeFn"></span>
					<div class="form">
						<p class="title">预约试驾</p>
						<div class="labx">
							<div class='flex'>
								<label>姓名</label>
								<input type="text" v-model ="form.userName" placeholder="请输入姓名" value="">
							</div>
							<div class="flex">
								<label>手机号</label>
								<input type="text"  maxlength="11" v-model ="form.mobile"  placeholder="请输入手机号码" value="">
							</div>
						</div>
						<div class="labx">
							<label>验证码</label>
							<div id="sms" class="flex sms">
								<input v-model ="form.verificationCode" placeholder="请输入短信验证码" class="smsv">
								 <span class="phone-code but-sms"  @click='butSms'>
                                发送验证码
								</span>
							</div>
						</div>
						<div class="labx">
							<div class='flex'>
								<label>城市</label>
								<div class="city">
									<div>
										<select  v-model="province.index"  @change="changeProvince">
											<!-- <option value="">请选择经销商所在城市</option> -->
											<option :value="item.provinceCode" v-for="(item,index) in province.data">{{item.provinceName}}</option>
										</select>
									</div>
									<div>
										<select class="sel2" v-model="city.index" @change="changeCity">
											<option :value="item.cityCode" v-for="(item,index) in city.data">{{item.cityName}}</option>
										</select>
									</div>
								</div>
							</div>
							<div class="flex">
								<label>经销商</label>
								<div class="dealerbo">
									<select v-model = "form.dealerCode" @change="changeDealer">
										<option :value="item.dealerCode"  v-for="(item,index) in dealer" >{{item.dealerName}}</option>
									</select>
								</div>
							</div>
						</div>
						<a href="javascript:;" class="subtn" @click="submitFn">确认</a>
					</div>
				</div>
			</div>
		</div>

		<!--公用js-->
		<script src="../pc/js/jquery_1.12.3_jquery.min.js"></script>
		<script src="../pc/js/public.js"></script>
		<script src="../pc/js/vue.js"></script>

		<!--当前页面js-->
		<script src="js/index.js"></script>
	</body>

</html>