<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>watch</title>
<style>
	
</style>
</head>
<body>
    <div id="root" v-cloak>
        <tree :data="treeData" />
    </div>
       <script src="vue2.js"></script>
       <script type="text/javascript">
       var tree =Vue.extend({
        name:'treed',
        props:['data'],
           template:`<ul>
                <li v-for="(item,i) in data" :key="i">
                {{item.title}}
                    <!-- 还要一颗树以item.children的值向下走的 -->
                    <treed v-if="item.children&&item.children.length>0"
                    :data="item.children"/>
                </li>
            </ul>`
       })
       let vm = new Vue({
           el:'#root',
           data:{
            treeData:[
                    {title:'数码',children:[
                    {title:'电脑',children:[
                        {title:'台式机',children:[
                        {title:'dell',children:[]},
                        {title:'IBM',children:[]},
                        ]},
                        {title:'台式机',children:[]},
                    ]},
                    {title:'手机',children:[]},
                    {title:'随便',children:[]},
                    ]},
                    {title:'服装',children:[]},
                    {title:'汽车',children:[]},
                ]
           },
           components:{
                tree
           }

         
       })
       </script> 
</body>
</html>