* {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  word-wrap: break-word;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
em,
i {
  font-style: normal;
}
/*使用无衬线字体/禁止IOS调整字体大小*/
a,
img {
  -webkit-touch-callout: none;
}
/*禁止长按连接与图片弹出菜单*/
html,
body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/*禁止选中文本*/
button,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
}
input {
  outline: none;
  border-radius: 0;
  -webkit-appearance: none;
}
/*去掉webkit默认的表单样式*/
a,
button,
input,
optgroup,
select,
textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif !important;
}
/*去掉a等标签点击时的蓝色外边框和灰色半透明背景*/
input::-webkit-input-placeholder {
  color: #808080;
}
/*修改webkit中input的planceholder样式*/
input:focus::-webkit-input-placeholder {
  color: #808080;
}
/*修改webkit中focus状态下input的panceholder样式*/
input::-webkit-input-speech-button {
  display: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #333;
}
html,
body {
  -ms-text-size-adjust: 100% !important;
  -webkit-text-size-adjust: 100% !important;
  height: 100%;
  font-size: 0.24rem;
}
[v-cloak] {
  display: none !important;
}
#app {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* background-color: #2c2c9b; */
  overflow: hidden;
}
.page-body {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
}
.page-body .container {
  width: 100%;
  height: max-content;
}

@-moz-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-moz-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-o-keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
