/*递交材料 srart*/
.process_four{
    padding: 65px 4px;    height: 528px;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
}
.process_four .apply_content{
    width: 599px;
    height: 458px;
    padding-left: 39px;
    padding-right: 84px;margin: 0 auto;
    position: relative;
    overflow: hidden;
}
/*.apply_content .con_tit{*/
/*font-size: 22px;*/
/*color: #020202;*/
/*height: 40px;*/
/*line-height: 36px;*/
/*}*/
/*.apply_content .con_main{*/
/*width: 520px;*/
/*font-size: 15px;*/
/*line-height: 31px;*/
/*}*/
.process_four .process{
    margin-top:35px;
    line-height: 101px;
}
.process_four .process .circle{
    display: inline-block;
    width: 65px;
    height: 65px;
    text-align: center;
    background: #48abe4;
    font-size: 14px;
    padding: 13px 14px;
    box-sizing: border-box;
    color: #fff;
    border-radius:50% ;
    -moz-border-radius:50% ;
    -webkit-border-radius:50% ;
    vertical-align: middle;
    /*font-weight: 600;*/
    transition: all .3s;
    line-height: 20px;
}
.process_four .process .circle.pad0{
    padding: 13px 14px;
}
.process_four .process .circle.pad16{
    padding: 21px 0px;
}
.process_four .process .circle.active{
    width: 102px;
    height: 102px;
    padding: 39px 14px;
    background: #00c8d5;
}
.process_four .process .circle.pad0.active{
    width: 102px;
    height: 102px;
    padding: 31px 14px;
    background: #00c8d5;
}
.process_four .process img{
    margin: 0 4.5px;
}
.process_four .process_circle{
    margin-top: 20px;
    width:599px;
    height: 110px;
    padding-top: 35px;    font-size: 14px;
    padding-left: 30px;
    box-sizing: border-box;
    color: #999fb1;
}
.process_four .process_circle.process_circle5{
    margin-top: 0px;
    /*padding-top:20px*/
}
.process_four .process_circle span{
    margin-right: 30px;
}
.process_circle1{
    position: absolute;
    top:239px;
    left:39px;
}
.process_circle2,.process_circle3,.process_circle4,.process_circle5,.process_circle6{
    position: absolute;
    top:239px;
    right:-724px;
}

.process_four .submit_apply{
    display: block;
    width: 169px;
    height: 46px;
    line-height: 46px;
    background: #00c8d5;
    text-align: center;
    box-shadow:0 2px 5px #dedede;
    position: absolute;
    left: 229px;
    bottom: 3px;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}