 .nav{
     height: 30px;
     background: #e3e4e5;
     border-bottom: 1px solid #ddd;
 }
 .nav-box{
     margin: 0 auto;
     width: 1190px; 
     text-align: right;
    }
.nav-box ul li{
     display: inline-block;
     padding: 0px 10px;
     font-size: 12px;
     height: 30px;
     line-height: 30px;
     position: relative;
}
.nav-box ul li a{
    color: #999999;
    text-decoration: none;
}
.nav-box ul li:not(:last-child):after{
    content: "";
    width: 1px;
    height: 14px;
    background: #cccccc;
    position: absolute;
    top: 8px;
    right: 0px;
    display: block;
}
.nav-box ul li a:hover{
    color: #f10215;
}
.header-box{
    height: 140px;
    background: white;
}
.header{
    width: 1190px;
    display: flex;
    margin: 0 auto;
    padding: 10px 0;
}
.header .logo-box{
    width: 190px;
    height: 120px;
}
.header .search-box{
    width: 790px;
    padding: 10px 10px;
}

.header .search-bar{
    padding: 15px  0 0 50px;
    display: flex;
}
.search-bar input{
    border: 2px solid #e1251b;
    width: 500px;
    height: 30px;
    padding: 2px 10px;
    outline: none;
}
.search-bar .search-btn{
    width: 50px;
    height: 36px;
    border: 1px solid #e1251b;
    background: #e1251b;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
}
.search-bar .cart-btn{
    margin:  0 0 0 20px;
    border: 1px solid #e1251b;
    width: 100px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 12px;
    color: #e1251b;
    cursor: pointer;
}
.search-bar .iconfont-cart{
    font-size: 18px;
}
.search-bar .iconfont-search{
    color: white ;
    font-size: 22px;
    font-weight: bold;
}
.header .recommend{
    font-size: 12px;
    padding:5px 0px 20px 50px ;
}
.header .recommend a{
    color: #999999;
}

.search-box ul li{
    display: inline;
    padding: 0 10px;
}
.search-box ul li a{
    color: #333333;
    text-decoration: none;
}
.content .wrapper{
    margin: 0 auto;
    width: 1190px;
    padding: 10px;
    display: flex;
}
.menu-box{
    width: 210px;
    background: white;
    position: relative;
    padding: 10px 0;
    margin-right: 10px;
}
.menu-box ul li{
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
}
.menu-box ul li:hover{
    background: #d9d9d9;
}
/* .menu-box ul li:hover .sub-menu{
    display: block;
} */
.menu-box ul li .active{
    display: block;
}

.menu-box ul li a{
    color: #333333;
    text-decoration: none;
}
.menu-box ul li a:hover{
    color: #e1251b;
}
.menu-box .sub-menu{
    position: absolute;
    top: 0px;
    left: 175px;
    background: white;
    z-index: 10;
    width: 900px;
    padding: 20px;
    font-size: 12px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.3); 
    display: none;
}
.sub-menu .left-box{
    float: left;
    max-width: 700px;
}
.sub-menu .right-box{
    float: right;
    max-width: 160px;
}
.sub-menu .menu-title{
    margin: 0 0 10px;
}

.sub-menu .menu-title .item{
    display: inline-block;
    background: #333333;
    padding: 0 8px;
    margin: 0 10px 0 0;
    color: white;

}
.sub-menu .menu-title .item:hover{
    background: #e1251b;
}
.sub-menu dl{
    display: flex;
}
.sub-menu dt{
    font-weight: bold;
    width: 60px;
    text-align: right;
    flex-shrink: 0;
}

.sub-menu dd a{
   padding:0 10px;
    white-space: nowrap;
}

.sub-menu .right-box{
    float: right;
    width: 168px;
}
.sub-menu .pic-box{
    margin: 0px 0px 10px 0px;
}
