.link .pos {
  position: absolute;
  transform: translateX(-50%);
  z-index: 10;
  width: 47%;
  height: 7%;
  cursor: pointer;
}
.link .pos.detail1 {
  top: 35%;
  left: 87%;
  width: 23%;
  height: 4%;
}
.link .pos.book1 {
  top: 44%;
  left: 27%;
  height: 6%;
}
.link .pos.detail2 {
  top: 24.3%;
  left: 85%;
  width: 28%;
  height: 5%;
}
.link .pos.book2 {
  top: 34%;
  left: 26%;
  height: 5.5%;
}
.link .pos.detail3 {
  top: 25%;
  left: 87%;
  width: 23%;
  height: 4%;
}
.link .pos.book3 {
  top: 33.6%;
  left: 27%;
  height: 6%;
}
.popBox {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  z-index: 999;
}
.popBox .pb {
  width: 50%;
  background: #fff;
  width: 90%;
  height: 78%;
  background-size: 100%;
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
}
.popBox .pb .closex {
  background: url(../../pc/images/close.png) no-repeat;
  background-size: 100%;
  width: 0.32rem;
  height: 0.32rem;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  margin: 15px;
  cursor: pointer;
}
.popBox .pb .carimg {
  background: url(../../pc/images/carbg.png) no-repeat;
  background-size: 100%;
  width: 250px;
  height: 83px;
  display: block;
  right: 0;
  top: 0;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 9%;
}
.popBox .pb .form {
  width: 80%;
  margin: 0 auto;
}
.popBox .pb .form .subtn {
  font-size: 20px;
  background: #2d3e4e;
  border-radius: 4px;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: 0.8rem;
  height: 1rem;
  line-height: 1rem;
}
.popBox .pb .form .title {
  width: 100%;
  text-align: center;
  font-weight: 600;
  color: #2D3E4E;
  font-size: 0.4rem;
  margin-bottom: 19px;
}
.popBox .pb .form .flex {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.2rem;
  border-bottom: 1px solid rgba(45, 62, 78, 0.3);
}
.popBox .pb .form .flex .sms {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.popBox .pb .form .flex .sms input {
  width: 72%;
}
.popBox .pb .form .flex .phone-code {
  cursor: pointer;
  position: absolute;
  right: 0;
  color: #001E50;
  bottom: 13px;
}
.popBox .pb .form .flex .city {
  position: relative;
  display: flex;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  width: 100%;
}
.popBox .pb .form .flex .city::before {
  content: '';
  border-right: 1px solid #ddd;
  height: 20px;
  width: 1px;
  position: absolute;
  left: 47%;
  bottom: 9%;
}
.popBox .pb .form .flex .city > div {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url(../../pc/images/arrow_Down.png) no-repeat 100% center;
  margin-right: 10%;
}
.popBox .pb .form .flex .city > div:last-child {
  margin-right: 0;
  width: 48%;
}
.popBox .pb .form .flex select {
  height: 27px;
  font-size: 14px;
  color: #000;
  border: none;
  background-color: transparent;
  padding-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
}
.popBox .pb .form .flex select option {
  color: #000;
}
.popBox .pb .form .flex select.sel2 {
  padding-left: 10%;
}
.popBox .pb .form .flex .dealerbo {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  position: relative;
  width: 96%;
  align-items: center;
  justify-content: space-between;
  background: url(../../pc/images/arrow_Down.png) no-repeat 100% center;
  overflow: hidden;
  padding-right: 5%;
  white-space: nowrap;
}
.popBox .pb .form .flex .flex {
  width: 100%;
  color: #2D3E4E;
  font-size: 15px;
  border-bottom: 1px solid rgba(45, 62, 78, 0.3);
}
.popBox .pb .form .flex .flex:last-child {
  margin-right: 0;
}
.popBox .pb .form .flex label {
  text-align: left;
  width: 100%;
  display: inline-block;
  margin-bottom: 2%;
  font-weight: 600;
}
.popBox .pb .form .flex input {
  border: 0;
  background: transparent;
  width: 90%;
  color: #000;
  font-size: 16px;
  padding-bottom: 13px;
  line-height: 21px;
}
