<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>答题页</title>
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store,must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <!-- css重置 -->
    <link rel="stylesheet" href="css/reset.css" />

    <!--当前页面css-->
    <link rel="stylesheet" href="css/answer.css?v=20201215" />

    <!--rem.js-->
    <script src="js/rem.js"></script>
  </head>

  <body>
    <div id="app" v-cloak>
      <div class="main">
        <img src="images/anwerbg.jpg" alt="" />
        <!-- 返回 -->
        <div class="goback" @click="gobackFn"></div>
        <!-- 倒计时 -->

        <div class="countdown">
          <p class="p1">倒计时</p>
          <p class="time">{{time.value}}S</p>
        </div>
        <!-- 题 -->
        <div class="qus">
          <ul>
            <li v-for="(item,key) in qusData" :index="key">
              <p class="title">{{item.title}}</p>
              <div v-for="item2,index in item.anwers">
                <input
                  type="radio"
                  class="radio_type"
                  :id='"v"+key+index'
                  :name='"v"+key'
                  @click="radioChange(item2,key)"
                  :value="item2.radios"
                />
                <label :for='"v"+key+index' :name='"v"+key'
                  >{{item2.radios}}</label
                >
              </div>
            </li>
          </ul>
        </div>
        <input type="button" class="submit" value="" @click="submit" />
      </div>
      <!-- 规则弹窗 -->
      <div class="popBox" v-show="pop.isShow">
        <div class="rulepop">
          <div class="time2">{{time2.value}}S</div>
        </div>
      </div>
    </div>
    <!-- js -->
    <script src="js/vue.min.js?v=20201215"></script>
    <script src="js/common.js?v=20201215"></script>
    <script src="js/answer.js??v=20201215"></script>
  </body>
</html>
