<!DOCTYPE html>
<html>
<head>
	<title>deep</title>
</head>
<body>
<div id='app'>
	<div>
		<p>a:<input type="text" v-model='a' name=""></p>
		<p>Obj-b:<input type="text" v-model='b.c' name=""></p>
	</div>
</div>
<script src="vue2.js"></script>
<script src='jquery-1.10.1.min.js'></script>
<script type="text/javascript">
	var vm= new Vue({
		el:'#app',
		data:{
		     a:1,
		     b:{
		         c:1
		     }
		},
		created:function(){

		},
		// 新值和旧值,value值，没value值取内容
		watch:{
		     a(val, oldVal){//普通的watch监听
		         console.log("a: "+val, oldVal);
		     },
		     b:{//深度监听，可监听到对象、数组的变化
		         handler(val, oldVal){
		             console.log("b.c: "+val.c, oldVal.c);//但是这两个值打印出来却都是一样的
		         },
		         deep:true
		    }
		}
	})
</script>
</body>
</html>