<!DOCTYPE html>
<html>
<head>
	<title>watch简单使用</title>
</head>
<body>
<div id='app'>
	<select v-model="myNumber" name="">
	    <option value="-1">请选择</option>
	    <option v-for="item in versionList" :value="item.index">{{item.name}}</option>
	</select>
	<!-- <div>
      <p>Number: {{ myNumber }}</p>
      <p>Number: <input type="text" v-model.number="myNumber"></p>
	</div> -->
</div>
<script src="vue2.js"></script>
<script src='jquery-1.10.1.min.js'></script>
<script type="text/javascript">
	var vm= new Vue({
		el:'#app',
		data:{
			versionList:[
				{name:'selet0',index:0},
				{name:'selet1',index:1},
				{name:'selet2',index:2},
			],
			myNumber: -1,
		},
		created:function(){

		},
		// 新值和旧值,value值，没value值取内容
		watch: {
			myNumber(newval,oldval){
				//做监听值的操作
				console.log(newval,oldval)
			}
		}
	})
</script>
</body>
</html>