@media screen and (max-width: 1200px) {
	.header .header_n3 .headerNav ul li{ padding-right: 6px;}
	.header .header_n3 .headerNav ul li a.a1{ padding: 0 18px 0 5px;}
	.index_abt > div.n2{ margin-left: 10px;}
	.moduleNine{ padding: 60px 0;}
}
@media screen and (max-width: 992px) {
	/* .header .header_n1 .header_n1_left .nr{ display: none;} */
	.header .header_n2 .header_search{ width: 400px;}
	.header .header_n2 .header_search input{ width: 364px;}
	.header .header_n3{ height: auto;}
	.header .header_n3 .headerNav{ height: auto;}
	.index_abt{ float: left;}
	.moduleTwo .moduleTwo_left{ text-align: center;}
	.moduleNine .nineRight, .moduleTen .tenRight, .moduleEleven .elevenRight .n1{ margin-top: 20px;}
	.footer .footerTop dl dt{ margin-top: 20px;}
	.moduleFive .moduleFive_right a{ float: left; margin-top: 15px;}
}
@media screen and (max-width: 768px) {
	.menuBox{ display: flex;}
	.header_n1{ display: none;}
	.header .header_n2 .header_search{ width: 100%;}
	.header .header_n2 .header_search input{ width: calc(100% - 34px);}
	.moduleFour .four_li{ margin-bottom: 20px;}
	.header .header_n2 .logo{ display: none;}
	.index_abt{ display: none;}
	/* .header .header_n3 .headerNav{ display: none;} */
	.header .header_n3 > div{ position: relative;}
	.header .header_n3 .headerNav{ position: absolute; top: 50px; left: 0;}
	.header .header_n3 .headerNav ul{ background: #fff; z-index: 9; box-shadow: 0 0 10px 0 #999; display: none;} 
	.header .header_n3 .headerNav ul li{ width: 100%; top: 50px; padding: 0 15px;}
	.navBox .nav_n3 dl{ width: 50%;}
	.navBox .nav_n1{ width: 100%;}
	.navBox{ overflow-y: scroll; padding-bottom: 20px;}
	.navBox .nav_n2 dl dd .cntet .imgs{ height: 60px;}
	.navBox .nav_n5 dl dd a{ height: 80px;}
	.navBox .nav_n7 dl dd a{ height: 136px;}
	.navBox .nav_n7 dl dd{ width: 33.333333%;}
	.navBox .nav_n4 dl{ width: 50%;}
	.moduleSix .sixli{ width: 50%; height: 240px;}
	.moduleFive .moduleFive_right a{ font-size: 18px; width: 100%;}
	.oneContent .oneList ul li .oneList_z{ width: 100%;}
	.oneContent .oneList ul li .oneList_y{ width: 100%; margin-top: 20px;}
	.moduleOne h2{ font-size: 22px;}
	.oneList_y .lbImg{ margin: auto;}
	.oneList_z .n1{ font-size: 20px;}
	.oneList_z .n3 .n3li .left{ width: 100%; font-weight: bold; font-size: 15px;}
	.oneList_z .n3 .n3li .right{ width: 100%; padding-left: 0;}
	.login .loginOne .n2{ display: block;}
	.login .loginOne .n2 p{ width: 100%; margin-bottom: 10px;}
	.login .loginOne .n2 p.pn{ display: none;}
	.login .loginOne .n2 input{ width: 100%;}
	.login .loginOne .n2 .codeImg{ margin-left: 0; margin-top: 10px;}
	.shopBox .n2 .p2, .shopBox .n3 .p3{ display: block;}
	.shopBox .n2 .p2 a, .shopBox .n3 .p3 a{ margin-left: 0; margin-top: 10px;}
	.aboutTitle{ display: block;}
	.aboutTitle div{ margin-top: 6px;}
}